<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">INICIA SESIÓN</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email"/>
          </div>
          <br>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password"/>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-lg
          btn-block">Iniciar sesión</button>
        </form>
        <br>
        <div class="form-group mt-3">
          <p>Crea una cuenta   <a [routerLink]="['/register']">Registrate</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
