
<div class="card mb-3" *ngFor="let themepark of themeparklist">
  <h3 class="card-header">{{themepark.title}}</h3>
  <div class="card-body">
    <h5 class="card-title">{{themepark.subtitle}}</h5>
    <h6 class="card-subtitle text-muted">{{themepark.location}}</h6>
  </div>
  <div style="text-align: center; ">
    <img  [src] = 'themepark.photo' width="1000" height="500"/>
  </div>

  <div class="card-body">
    <p class="card-text">{{themepark.info}}</p>
  </div>
  <div class="card-body">
    <a href={{themepark.web}} class="card-link">Sitio oficial</a> 
    <a href={{themepark.coaster}} class="card-link">Montañas rusas</a>
  </div>
</div>
