
<div style="text-align: center; margin-top: 20px;">
    <h1>ROLLERCOUNTER</h1>
</div>
<div style="text-align: center; margin-top: 20px; color: black;">
    <p>Bienvenidos a RollerCounter, un lugar donde poder registrar tus viajes a parques temáticos.</p>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg
btn-block "  (click)="btnRegistre()" style="margin-top: 196px; margin-left: 250px;">Registrar</button>
    <button type="submit" class="btn btn-primary btn-lg
 btn-block" (click)="btnLogin()" style="margin-top: 196px; margin-left: 450px;">Iniciar sesión</button>
</div>